* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100vh;
  background-color: aquamarine;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ladder {
  width: 600px;
  height: 600px;
  display: grid;
  grid-template-columns: repeat(30, 20px);
  grid-template-rows: repeat(30, 20px);

  background: white;
}
.box {
  border: 0.1px solid black;
}

#coin {
  background: pink;
  border-radius: 50%;
}

#fruit {
  background: red;
}
